

@import 'media';
@import 'normalize';
@allFontSize:16px;
@allFontFamaly:'Roboto', sans-serif;
@LinkColor:#cc0000;

body{
    min-width: 350px;
    font-family:'Roboto', sans-serif;
    p{
        margin: 0;
    }
    a:hover{
        text-decoration: none !important;
    }

}


.header {
    &__block-top {
        max-width: 1400px;
        margin: 0 auto;
        background: #ffffff;
        height: 86px;
        font-size: @allFontSize + 8px;
        color: @LinkColor;
        display: flex;
    }
    &__block-bottom {
        background: #f2f2ed;
        border: 1px solid #d9d9d4;
        height: 51px;
    }
}

.head-top{
    &__item{
        width: 300px;
        margin: auto 0;
    }

    &__logo{
        text-align: center;
        margin: auto;
    }

    &__nomber{
        text-align: right;
    }

    &__name{
        text-align: left;
        &_text{
            color:@LinkColor;
        }
    }
}

.head-bottom{
    max-width: 1400px;
    margin: 0px auto;
    .main-menu{
        padding: 0;
        &__item {
            float: left;
            list-style: none;
            margin: 2px 20px 0 0;
        }

        &__link {
            font-size: @allFontSize;
            color: @LinkColor;
            text-decoration: underline;
        }

        .active {
            color: #000;
            font-weight: bold;
            text-decoration: none;
        }

        .first {
            margin-left: -40px;
        }
    }

    .search {
        width: 20%;
        margin-left: 80%;
        &__form-window {
            width: 272px;
            height: 30px;
            margin-top: -10px;
        }

        &__form-button {
            margin-left: 0;
            margin-right: 0;
            height: 36px;
            width: 36px;
            padding: 0;
            cursor: pointer;
            float: right;
            text-indent: -9999px;
            background: url(http://mr-doors.pe.hu/img/search.png) no-repeat center top;
            overflow: hidden;
            margin-top: -25px;
            border: none;
            position: relative;
        }
    }
}




.content{
    background: #fff;
    margin: 50px 0;
    height: 900px;
    &__block{
        max-width: 1400px;
        margin: 0 auto;
    }

    &__breadcrumb{
        margin-bottom: 20px;
        font-size: @allFontSize;
        color:#000;
    }
    .breadcrumb_link{
        font-size: @allFontSize;
        color: @LinkColor;
        text-decoration: underline;
    }

    &__field-image{
            width: 780px;
            float: left;
            margin-right: 65px;
    }

    &__title-name{
        margin-bottom: 23px;
        float: left;
        width:535px;
    }

    &__field-body{
        width:535px;
        font-size: @allFontSize;
        color: #000000;
        margin-bottom: 54px;
        float: left;
    }

    &__product-price{
        width:535px;
        font-size: @allFontSize + 20px;
        font-weight: bold;
        color: #cc0000;
        margin-bottom: 36px;
        float: left;
    }

    &__product-size{
        width:535px;
        font-size: @allFontSize;
        color: #000000;
        margin-bottom: 38px;
        float: left;
    }

    &__product-color{
        width:535px;
        font-size: @allFontSize;
        color: #000000;
        margin-bottom: 45px;
        float: left;
    }

    &__product-add-to-cart{
        width:535px;
        float: left;
        margin-bottom: 40px;
        input{
            background: #cc0000;
            border: none;
            color: #fff;
            font-size: @allFontSize + 20px;
            transition: .5s;
            padding: 20px 44px;
        }
        input:hover{
            box-shadow: 0 0 15px #cc0000;
        }
    }

    &__product-post-on-later{
        width:535px;
        float: left;
        img{
            margin-bottom: -8px;
        }
        input{
            background: #fff;
            border: none;
            color: #999999;
            font-size: @allFontSize;
            text-decoration: underline;
            input:hover{
                color: #cc0000;
            }
        }
    }
}

.field-image{
    &_img{
        width: 100%;
    }
}

.form-radios{
    height: 55px;
    margin: 20px 0 0 0;
    &__form-item,
    &__form-item{
        width: 85px;
        float: left;
    }

    &__text{
        font-size: 36px;
        position: absolute;
        height: 54px;
        width: 65px;
        top: -3px;
        text-align: center;
        padding-top: 12px;
    }

    &__input + label{
        cursor: pointer;
    }

    &__input:not(checked) {
        position: absolute;
        opacity: 0;
    }

    &__input:not(checked) + label {
        position: relative;
        padding: 0 0 0 35px;
    }

    &__input:not(checked) + label:before {
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 65px;
        height: 65px;
        border: 1px solid #111;
        border-radius: 0px;
    }

    &__input:not(checked) + label:after {
        content: '';
        position: absolute;
        top: -3px;
        left: 0px;
        width: 61px;
        height: 61px;
        border-radius: 0%;
        opacity: 0;
        transition: all .2s;
        border: 3px solid #cc0000;
    }

    &__input:checked + label:after {
        opacity: 1;
    }

    &__input:focus + label:before {
        box-shadow: 0 0 0 0px rgba(255,255,0,.5);
    }

    &__input{
        &_white:not(checked) + label:before{background:#fff;}
        &_yellow:not(checked) + label:before{background:yellow ;}
        &_green:not(checked) + label:before{background:#b4bea5;}
    }
}

.content__product-color{
    .form-radios__input:not(checked) + label:after {
        top: -3px;
    }
}

.title-name{
    &_text{

        font-size: @allFontSize + 20px;
        font-weight: bold;
        color: #000;
        margin: 0;

    }
}

.footer {
    background: #f2f2ed;
    margin: 0px 0;
    height: 430px;
    border-top: 1px solid #d9d9d4;

    &__block-top {
        max-width: 1400px;
        margin: 60px auto;
    }
    &__block-bottom{
        display: block;
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 82px;
        border-top: 1px solid #d9d9d4;
        padding-top: 36px;
    }
}

.footer-top {
    &__menu-left {
        width: 414px;
        height: 130px;
        float: left;
        margin-right: 110px;
        line-height: 1.5;
    }

    &__menu-midle {
        width: 283px;
        height: 130px;
        float: left;
        margin-right: 110px;
        line-height: 1.5;
    }

    &__menu{
        &_title {
            font-size: @allFontSize;
            color: #000;
            font-weight: bold;
        }

        &_list{
            list-style-position: inside;
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
            padding: 0;
        }

        &_item{
            list-style: none;
        }

        &_link{
            font-size: @allFontSize - 2px;
            color: #000000;
            text-decoration: none;
        }
    }

    &__block-info {
        width: 340px;
        height: 130px;
        float: left;
        &_item{
            font-size: @allFontSize - 2px;
            color: #000000;
            margin-bottom: 21px;
        }

        &_img{
            margin: 0px 15px -12px 18px;
        }

        &_first{
            margin-top: 9px;
            img{
                margin: 0px 15px -20px 0px;
            }
        }

    }
    &__block-icon {
        text-align: right;
        &_link{
            margin: 0 0 8px 0;
        }
        &_img{
            position: relative;
            top: 20px;
        }
    }
}



@media (min-width: @lg-min) and (max-width: 1400px) {
    .header {
        max-width: 1400px;
        &__block-top {
            max-width: @lg-min;
        }
        &__block-bottom {

        }
    }

    .head-bottom {
        max-width: @lg-min !important;
        margin: 0 auto;
        &__search {
            .search__form-window {
                width: 233px !important;
                height: 30px;
                margin-top: -10px;
            }
        }

    }

    .content {
        max-width: 1400px;
        height: 700px;
        &__block {
            max-width: @lg-min;
        }

        &__field-image {
            width: 590px;
            margin-right: 40px;
        }

        &__product-post-on-later {
            width: 220px;
            float: left;
            position: relative;
            top: 57px;
        }

        &__product-add-to-cart {
            width: 220px;
            float: left;
            margin-bottom: 40px;
        }
    }

    .footer {
        max-width: 1400px;
        &__block-top {
            max-width: @lg-min;
        }
        &__block-bottom {
            max-width: @lg-min;
        }
    }

    .footer-top {
        &__menu-left {
            width: 414px;
            height: 130px;
            float: left;
            margin-right: 60px;
            line-height: 1.5;
        }
        &__menu-midle {
            width: 283px;
            height: 130px;
            float: left;
            margin-right: 18px;
            line-height: 1.5;
        }
    }
}


@media (min-width: @md-min) and (max-width: @lg-min) {
    .header {
        max-width: @lg-min;
        &__block-top {
            max-width: @md-min;
            margin: 0 auto;
        }
    }

    .head-bottom {
        max-width: @md-min !important;
        margin: 0 auto;
        &__search {
            width: 20% !important;
            margin-left: 78% !important;
            .search__form-window {
                width: 196px !important;
                height: 30px;
                margin-top: -10px;
            }
        }
    }

    .content {
        max-width: @lg-min;
        height: 700px;
        &__block {
            max-width: @md-min;
        }

        &__title-name h2 {
            font-size: 34px;
            font-weight: bold;
            color: #000;
            margin: 0;
        }

        &__field-image {
            width: 475px;
            float: left;
            margin-right: 55px;
        }

        &__title-name {
            margin-bottom: 23px;
            float: left;
            width: 435px;
        }

        &__product-post-on-later {
            width: 220px;
            float: left;
            position: relative;
            top: 103px;
        }

        &__product-add-to-cart {
            width: 220px;
            float: left;
            margin-bottom: 40px;
            margin-top: 46px;
        }

        &__field-body {
            width: 435px;
            font-size: 16px;
            color: #000000;
            margin-bottom: 24px;
            float: left;
        }

        &__product-price {
            width: 435px;
            font-size: 36px;
            font-weight: bold;
            color: #cc0000;
            margin-bottom: 36px;
            float: left;
        }

        &__product-size {
            width: 435px;
            font-size: 16px;
            color: #000000;
            margin-bottom: 38px;
            float: left;
        }

        &__product-color {
            width: 435px;
            font-size: 16px;
            color: #000000;
            margin-bottom: 45px;
            float: left;
        }
    }

    .footer {
        max-width: @lg-min;
        &__block-top {
            max-width: @md-min;
        }

        &__block-bottom {
            max-width: 992px;
            margin-top: 0px;
            margin-top: 152px;
            border-top: 1px solid #d9d9d4;
            padding-top: 36px;
        }
    }

    .footer-top {
        &__menu-left {
            width: 200px;
            height: 256px;
            float: left;
            margin-right: 57px;
            line-height: 1.5;
        }
        &__menu_list {
            list-style-position: inside;
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
            padding: 0;
        }
        &__menu-midle {
            width: 100px;
            height: 130px;
            float: left;
            margin-right: 110px;
            line-height: 1.5;
        }
    }
}

@media (min-width: @sm-min) and (max-width: @md-min) {
    .header{
        max-width:@md-min;
        &__block-top{
            max-width: @sm-min;
        }
        .head-bottom{
            max-width: @sm-min !important;
            margin: 0 auto;
            &__search {
                width: 36% !important;
                margin-left: 63%!important;
            }
        }
    }

    .content {
        max-width: @md-min;
        height: 1082px;
        &__block {
            max-width: @sm-min;
        }

        &__field-image {
            width: 500px;
            float: none;
            margin: 0 auto;
        }

        &__title-name {
            margin-bottom: 23px;
            float: none;
            text-align: center;
            width: 100%;
            margin-top: 7%;
        }

        &__field-body {
            width: auto;
            font-size: 16px;
            color: #000000;
            margin-bottom: 54px;
            text-align: center;
            float: none;
        }

        &__product-price {
            width: 768px;
            font-size: 36px;
            font-weight: bold;
            color: #cc0000;
            margin-bottom: 36px;
            float: none;
            text-align: center;
        }

        &__product-size {
            font-size: 16px;
            color: #000000;
            margin-bottom: 40px;
            float: left;
            width: 300px;
            margin: 2px 40px 0 100px;
        }

        &__product-color {
            font-size: 16px;
            color: #000000;
            margin-bottom: 45px;
            float: left;
            width: 300px;
        }

        &__product-add-to-cart {
            width: auto;
            float: none;
            margin-bottom: 40px;
            text-align: center;
        }

        &__product-post-on-later {
            width: auto;
            float: none;
            text-align: center;
        }
    }

    .footer{
        max-width:@md-min;
        &__block-top{
            max-width: @sm-min;
        }

        &__block-bottom{
            max-width: @sm-min;
            margin-top: 150px;
            border-top: 1px solid #d9d9d4;
            padding-top: 28px;
        }
    }

    .footer-top{
        &__menu-left{
            width: 200px;
            height: 256px;
            float: left;
            margin-right: 40px;
            line-height: 1.5;
        }

        &__menu_list{
            list-style-position: inside;
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
            padding: 0;
        }

        &__menu-midle{
            width: 100px;
            height: 130px;
            float: left;
            margin-right: 40px;
            line-height: 1.5;
        }

        &__block-info{
            width: 342px;
            height: 130px;
            float: left;
        }
    }
}

@media  (max-width: @sm-min) {
    .header{
        max-width:@sm-min;
        &__block-top{
            max-width: @xs-min;
            margin: 0 auto;
            background: #ffffff;
            height: 160px !important;
            font-size: 23px;
            color: #cc0000;
            display: flex;
            flex-direction: column;
        }
        &__block-bottom {
            background: #f2f2ed;
            border: 1px solid #d9d9d4;
            height: 100px !important;
        }
    }

    .head-bottom{
        max-width: @xs-min !important;
        margin: 0 auto;
        height: 100px;
        &__menu{
            margin: 13px 0 0 26px;
        }
        &__search {
            width: 80% !important;
            margin-left: 0 !important;
            margin: 0 auto !important;
            position: relative;
            top: 23px;
        }
    }

    .main-menu{
        &__item{
            float: left;
            list-style: none;
            margin: 2px 14px 0 0!important;
            margin-left: 0;
        }
    }

    .head-top{
        &__item{
            width: 350px!important;
            margin: auto 0;
        }
        &__name{
            text-align: center!important;
        }
        &__nomber{
            text-align: center!important;
        }
    }


    .content{
        height: 1100px;
        max-width: @sm-min;
        &__block{
            max-width: @xs-min;
        }

        &__field-image {
            width: 350px;
            float: none;
            margin: 0 auto;
        }
        &__title-name {
            margin-bottom: 23px;
            float: none;
            width: auto;
            text-align: center;
            margin-top: 27px;
        }
        &__field-body {
            width: auto;
            font-size: 16px;
            color: #000000;
            margin-bottom: 54px;
            text-align: center;
            float: none;
        }
        &__product-price {
            width: 350px;
            font-size: 36px;
            font-weight: bold;
            color: #cc0000;
            margin-bottom: 36px;
            float: none;
            text-align: center;
        }
        &__product-size {
            font-size: 16px;
            color: #000000;
            margin-bottom: 40px;
            float: left;
            width: 350px;
        }
        &__product-color {
            font-size: 16px;
            color: #000000;
            margin-bottom: 45px;
            float: left;
            width: 350px;
        }
        &__product-add-to-cart {
            width: auto;
            float: none;
            margin-bottom: 40px;
            text-align: center;
        }
        &__product-post-on-later {
            width: auto;
            float: none;
            text-align: center;
        }
    }

    .form-radios {
        height: 55px;
        margin: 20px 0 0 0;
        width: 257px;
        margin: 20px auto;
        left: 14px;
        position: relative;
    }

    .footer{
        max-width:@sm-min;
        height: 648px;
        border-top: 1px solid #d9d9d4;
        margin-top: 90px;
        &__block-top {
            max-width: @xs-min;
            height: 500px;
            margin: -20px auto 60px;
        }

        &__block-bottom{
            max-width: 350px;
            border-top: 1px solid #d9d9d4;
            padding-top: 28px;
            position: relative;
            margin-top: -66px;
            text-align: center;
        }
    }

    .footer-top{
        &__menu-left{
            width: 184px;
            height: 256px;
            float: left;
            margin-right: 40px;
            line-height: 1.5;
        }

        &__menu-midle{
            width: 92px;
            height: 230px;
            float: left;
            margin-right: 0px;
            line-height: 1.5;
        }

        &__menu{
            &_list{
                list-style-position: inside;
                -moz-column-count: 1;
                -webkit-column-count: 1;
                column-count: 1;
                padding: 0;
            }
            &_link{
                font-size: 10px;
                color: #000000;
                text-decoration:none;
            }

        }

        &__block-info{
            width: 340px;
            height: 130px;
            float: left;
            font-size: 10px;
        }

        &__block-icon{
            text-align: center;
            margin: 47px 56px 0 0;
            top: 15px;
            float: none;
            display: block;
            position: relative;
            top: 13px;
            &_link{
                width: 87px;
                margin-left: 11px;
                float: left !important;
            }
        }
    }
}
