@import 'media';
@import 'normalize';
@allFontSize:16px;
@allFontFamaly:'Roboto', sans-serif;
@LinkColor:#1e44d0;
@font-face{
    font-family: 'GothaPro';
    src: url('../img/font/GothaProReg.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'GothaProBlack';
    src: url('../img/font/GothaProBla.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'GothaProMed';
    src: url('../img/font/GothaProMed.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'GothaProBol';
    src: url('../img/font/GothaProBol.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'GothaProlig';
    src: url('../img/font/GothaProLig.otf');
    font-weight: normal;
    font-style: normal;

}
body{
    min-width: 320px;
    font-family: 'GothaPro';
    overflow-x: hidden;
    p{
        margin: 0;
    }
    a:hover{
        text-decoration: none !important;
    }

}
.mouse-scroll {
    style: block;
}
.mouse-scroll {
    position: relative;
    margin: -65px auto 0;
    width: 12px;
    top: 80px;
    -webkit-transform: translateX(-50%);
    z-index: 9999;
}
.mouse-scroll span{
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}
.mouse-scroll .mouse {
    height: 40px;
    width: 28px;
    border-radius: 17px;
    -webkit-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
    margin-left: -8px;
}
.mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}
.mouse-scroll .down-arrow-1, .mouse-scroll .down-arrow-2, .mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}
.mouse-scroll .down-arrow-1 {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}
.mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}
.mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}
.mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #ffffff;
    position: relative;
}
.mouse-scroll .mouse-in {
    -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.header{
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    height: 900px;
    color: #fff;
    margin: 0 auto;
    overflow: hidden;
     &__main-menu{
         width: 1200px;
         margin: 0 auto;
     }
    &__block-middle{
        margin: 0 auto;
        width: 1000px;
        height: 500px;
        background-size: cover;
        margin-top: 187px;
        &_title{
            font-family: 'GothaProBlack';
            font-size: 102px;
            text-align: center;
            margin: 0px 0 0 0;
            padding-top: 150px;
        }
        &_body{
            font-family: 'GothaPro';
            font-size: 18px;
            text-align: center;
            margin-bottom: 54px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        &_button{
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            padding: 18px 46px;
            border: 2px solid #1842d1;
            border-radius: 70px;
            text-transform: uppercase !important;
        }
        &_block-links{
            width: 500px;
            margin: 0 auto;
        }
    }
}

.main-menu{
    &__list{
        list-style: none;
        position: relative;
        margin: 0 auto;
        width: 63%;
        float: left;
        margin-top: 41px;
        padding: 0;
    }
    &__item{
        float: left;
        margin-right: 50px;
    }
    &__link{
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }
    &__link:hover,&__link:active,&__link:focus{
        color: #1e44d0;
    }
}
.block-logo{
    float: left;
    margin-top: 30px;
    width: 37%;
}



.advantages{
    width: 1200px;
    margin: 0 auto;
    background: #1e44d0;
    color: #fff;
    border-radius: 30px;
    height: 205px;
    position: relative;
    padding: 75px 0 0 0;
    margin-top: -100px;
    box-shadow: 0 0 60px #000;
    &__title{
        width: 43.5%;
        margin: 0;
        text-align: right;
        margin-right: 5%;
        float: left;
        margin-left: 4%;
        margin-top: -7px;
        font-size: 44px;
        font-family: 'GothaProBlack';
    }
    &__body{
        width: 37.2%;
        text-align: left;
        margin-right: 4%;
        float: left;
        line-height: 1.65;
        margin-top: -2px;
        border-bottom: 1px solid #afafaf;
        padding-bottom: 19px;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: normal;
    }
}
video.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    width: 1920px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.video-controler{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.knife-img {
    position: absolute;
    top: -29px;
    left: -58px;
}
.about{
    max-width: 1920px;
    margin: 0 auto;
    background: #080808;
    color:#fff;
    padding: 100px 0 40px;
    margin-top: 50px;
    &__block{
        width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
        &_item{
            width: 400px;
            text-align: center;
            margin-bottom: 60px;
        }
    }
}
.about-item{
    &__img{
        height: 70px;
    }
    &__body{
        width: 260px;
        margin: 0 auto;
        color: #a2a2a2;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.4;
    }
    &__title{
        font-family: 'GothaProBlack';
        font-size: 28px;

    }
}
.anim_btn {
    position: relative;
    display: block;
    max-width: 180px;
    color: #fff;
    float: left;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    z-index: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.button-blue{
    background: #1842d1;
    box-shadow: 0 0 20px #1842d1;
    margin-right: 20px;
    margin-left: 13px;
    z-index: 0;
}

.anim_btn:after {
    content: "";
    position: absolute;
    background: none repeat scroll 0 0 #1842d1;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: -1;
    border-radius: 70px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.anim_btn:hover{
    color: #fff;
    text-shadow: none;

}
.button-blue:after{
    background: none repeat scroll 0 0 #0022af;
}
.button-blue:hover{
    border: 2px solid #0022af;
    color: #fff;
}
.anim_btn:hover:after{
    height: 420%;
}
.anim_btn.effektD:after {
    width: 0%;
    border-radius: 50%;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.anim_btn.effektD:hover:after {
    height: 450%;
    width: 110%;
    opacity: 1;
}

.professionals{
    background: url('../img/prof-backgraund.jpg') no-repeat center;
    background-size: cover;
    max-width: 1920px;
    margin: -20px auto;
    height: 1020px;
    &__block{
        width: 1200px;
        margin: 0 auto;
        margin-top: 20px;
        padding-top: 100px;
        &_title{
            margin-bottom:46px;
        }

    }
    &__list{
        &_item{
            width: 400px;
            float: left;
            position: relative;
        }
        &_item-hover{
            width: 370px;
            height: 440px;
            background: none;
            position: absolute;
            color: #fff;
            top: 0;
            border-radius: 20px;
            box-shadow: none;
        }
    }
    &__title{
        font-size: 58px;
        font-family: 'GothaProBlack';
        margin: 0;
        width: 600px;
        line-height: 1;
        margin-bottom: 64px;
        float: left;
    }
    &__body{
        width: 575px;
        font-size: 14px;
        line-height: 1.5;
    }
    &__icon{
        position: relative;
        top: -35px;
        left: -189px;
    }
    &__line{
        width: 200px;
        position: relative;
        border-bottom: 2px solid #1e44d0;
        top: 63px;
    }
    &__img{
        height: 440px;
        width: 370px;
        box-shadow: 10px 10px 30px #cccccc;
        border-radius: 21px;
        margin-bottom: 22px;
        transition: 0.5s;
    }
    &__list_item-hover{}
    &__list_item-hover-block:hover &__img,
    &__list_item-hover-block:active &__img,
    &__list_item-hover-block:focus &__img{
        transform: rotateY(-180deg);
        transition: .5s;
        opacity: 0;
        box-shadow: none;
    }
    &__list_item-hover-block:hover &__img + .item-hover,
    &__list_item-hover-block:active &__img + .item-hover,
    &__list_item-hover-block:focus &__img + .item-hover{
        transform: rotateY(0deg);
        transition: 0.5s;
        opacity: 1;
        background: #1e44d0;
        box-shadow: 10px 10px 30px #cccccc;
    }
    &__item-title{
        font-family: 'GothaProBlack';
        font-size: 28px;
        margin: 0px 0 12px 0;
    }
    &__item-body{
        line-height: 1.5;
        font-size: 14px;
        width: 350px;
    }
}
.item-hover {
    transform: rotateY(180deg);
    transition: 0.5s;
    opacity: 0;
    &__icon{
        position: relative;
        left: -76px;
        top: -54px;
    }
    &__title{
        text-align: center;
        margin: -112px auto 43px;
        font-family: 'GothaProBlack';
        font-size: 32px;
        width: 200px;
        line-height: 1.2;
    }
    &__body{
        margin: 0 auto;
        width: 262px;
        line-height: 2.5;
    }
}

.number-of {
    max-width: 1920px;
    background: #f1f1f1;
    margin: 0 auto;
    padding: 56px 0 13px;
    &__block {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
    }
    &__item{
        width: 400px;
        text-align: center;
        margin-bottom: 60px;
        &_title {
            margin: 0 0px 0px 0;
            text-align: center;
            font-size: 100px;
            font-family: 'GothaProBlack';
        }
        &_body{
            font-size: 20px;
            color: #080808;
            text-align: center;
        }
    }
}

.rates {
    background: #080808;
    background-size: cover;
    max-width: 1920px;
    margin: -20px auto;
    height: 1120px;
    color:#fff;
    &__block {
        width: 1200px;
        margin: 0 auto;
        margin-top: 20px;
        padding-top: 80px;
        &_title {
            margin-bottom: 46px;
        }
        &_items{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            margin-top: 80px;
        }

    }
    &__item{
        width: 370px;
        margin: auto 0;
        height: 560px;
        text-align: center;
        background: #ffffff;
        color:#080808;
        border-radius: 20px;
        position: relative;
        z-index: 50;
        transition: .5s;
        &_body{
            width: 300px;
            padding: 20px 0;
            margin: 0 auto;
            border-bottom: 1px solid;
            border-top: 1px solid;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 19px;
        }
        &_link{
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            padding: 18px 30px;
            border: 2px solid #1842d1;
            border-radius: 70px;
            text-transform: uppercase !important;
            float: none !important;
            margin: 15px auto 0;
            opacity: 0;
            transition: .5s;
        }
        &_list{
            list-style-image: url("../img/gal.png");
            text-align: left;
        }
        &_list-item{
            margin: 0 auto;
            margin-bottom: 16px;
            width: 280px;
            line-height: 1.5;
        }
        &_list-item b{
            font-family: 'GothaProBol';
        }
        &_img{
            position: relative;
            margin-top: -123px;
            margin-bottom: -45px;
            transition: 0.5s;
            z-index: 100;
        }
        &_title{
            font-family: 'GothaProBlack';
            font-size: 28px;
            width: 350px;
            margin: 20px auto 30px;

        }
        &_price{
            font-size: 18px;
            margin-top: 23px;

        }
        &_price span{
            font-size: 30px;
            font-family: 'GothaProBlack';
            position: relative;
            top: 5px;
        }
    }
    &__item-2{
        width: 410px;
        text-align: center;
        height: 640px;
        background: #1e44d0;
        color:#fff;
        box-shadow: 0 0 30px #1e44d0;
    }
    &_item-2 .rates__item_price{
        margin-top: -3px;
    }
    &__item-2 ul{
        list-style-image: url("../img/galw.png");
    }
    &__title {
        font-size: 58px;
        font-family: 'GothaProBlack';
        margin: 0;
        width: 1000px;
        line-height: 1;
        margin-bottom: 50px;
        float: left;
    }
    &__body {
        width: 590px;
        font-size: 14px;
        line-height: 1.5;
    }
    &__icon {
        position: relative;
        top: -16px;
        left: -180px;
    }
    &__line {
        width: 200px;
        position: relative;
        border-bottom: 2px solid #1e44d0;
        top: 63px;
    }
}
.rates__item-2 .rates__item_price{
    margin-top: 32px;
}
.rates__item-2 .rates__item_link{
    background: none repeat scroll 0 0 #fff;
    color: #080808;
    border: none;
    margin-top: 20px;
}
.rates__item-2 .rates__item_link:after{
    background: #ccc;
}
.rates__item-3 .rates__item_price{
    margin-top: -4px;
    background: #ececec;
    padding: 10px 0 20px;
}
.rates__item-1 .rates__item_price{
    background: #ececec;
    padding: 10px 0 20px;
}

.rates__item:hover .rates__item_img,.rates__item:active .rates__item_img,.rates__item:focus .rates__item_img{
    transform: rotateY(180deg);
}
.rates__item:hover .rates__item_link,
 .rates__item:active .rates__item_link,
 .rates__item:focus .rates__item_link{
opacity: 1;
 }

.portfolio{
    max-width: 1920px;
    height: 1830px;
    margin: 0 auto;
    background: url("../img/portfolio-bg.jpg") no-repeat center;
    background-size: cover;
    &__block{
        width: 1200px;
        margin: 0 auto;
    }
    &__obuch{
        text-align: right;
        height: 600px;
    }
}

.obuch{
    &__title{
        font-family: 'GothaProBlack';
        font-size: 80px;
        margin: 0 0 13px 0;
        padding: 167px 0 0 0;
    }
    &__body{
        font-family: 'GothaProMed';
        font-size: 26px;
        margin-bottom: 37px;
    }
    &__link{
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        padding: 31px 43px;
        border-radius: 70px;
        text-transform: uppercase !important;
        float: none !important;
        margin: 15px auto 0;
        -webkit-transition: .5s;
        transition: .5s;
        max-width: 230px;
        margin-right: 0;
        margin-top: 5px;
    }
    &__link-3{
        background: #f0a022;
        box-shadow: 0 0 15px #f0a022;
    }
    &__link-2{
        background: #0bc8a2;
        box-shadow: 0 0 15px #0bc8a2;
    }
    &__link-1{
        background-image: linear-gradient(to right,#476dfa,#1e44d0);
        box-shadow: 0 0 15px #476dfa;
    }
    &__link:after{
        content: "";
        position: absolute;
        background: none repeat scroll 0 0 #1842d1;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 100%;
        z-index: -1;
        border-radius: 70px;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    &__link-3:after{
        background: #f0ae7a;
    }
    &__link-2:after{
        background: #a3c5c8;
    }
    &__link-1:after{
        background-image: linear-gradient(to right, #4b88fa, #203fd0);
    }
    &__link:hover:after{
        height: 420%;
    }
    &__link:after {
        width: 0%;
        border-radius: 50%;
        opacity: .5;
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    &__link:hover:after {
        height: 450%;
        width: 110%;
        opacity: 1;
    }
}

.portfolio-slider{
    color: #fff;
    margin-top: 348px;
    &__title{
        font-size: 62px;
        color: #fff;
        font-family: 'GothaProBlack';
        margin: 0 0 0 0;
        text-align: right;
        position: relative;
        top: 126px;
        width: 300px;
        margin-left: 580px;
    }
    &__title + div{
        margin-left: 580px;
        top: 150px;
    }
    &__line{

    }
    &__block{

    }
    &__item{
        &_tag{
            font-size: 32px;
            margin-top: 182px;
        }
        &_body{
            font-size: 16px;
            float: left;
            width: 500px;
            line-height: 1.55;
            margin-top: 31px;
        }
        &_img{
            float: left;
            margin-left: 163px;
            margin-right: 51px;

        }
        &_link{
            margin: 0 0 0 0px;
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            padding: 31px 43px;
            border-radius: 70px;
            text-transform: uppercase !important;
            float: none !important;
            margin: 15px auto 0;
            -webkit-transition: .5s;
            transition: .5s;
            margin-left: 0;
            width: 328px;
            max-width: 250px;
            background-image: linear-gradient(to right,#476dfa,#1e44d0);
            position: relative;
            box-shadow: 0 0 30px #476dfa;
            top: 44px;
        }
        &_link:after{
            background-image: linear-gradient(to right, #4b88fa, #203fd0);
        }
    }
}










































@media (min-width: @lg-min) and (max-width: 1400px) {
    .header{
        &__main-menu{
            width: 1200px;
        }
    }
}

@media (min-width: @md-min) and (max-width: @lg-min) {
    .header{
        &__main-menu{
            width: 992px;
        }
    }
}

@media (min-width: @sm-min) and (max-width: @md-min) {
    .header{
        &__main-menu{
            width: 768px;
        }
    }
}

@media  (max-width: @sm-min) {
    .header{
        &__main-menu{
            width: 320px;
        }
    }
}
